#chat-box{
    border-radius: 10px;
    border: 1px solid #efefef;
    height: 300px;
    overflow-y: scroll;
}
.userMessage{
    display: flex;
    justify-content: right;
    background-color: rgb(74, 137, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 15px 0 0 7em;
}
.botMessage{
    display: flex;
    justify-content: left;
    background-color:grey;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 15px 7em 0 0;
}