:root{
    --backgroundColor:#efefef;
    --primary: rgb(255, 255, 255);
    --color1: rgb(0, 0, 0);
    --color2:rgb(51, 187, 202);
    --color3: rgb(226, 235, 236);
    --color4:rgb(126, 138, 139);
    --hoverColor:rgb(91, 107, 109);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--backgroundColor);
    font-family: 'Poppins', sans-serif;
    color: var(--color1);
}

.main{
    display: flex;
    height: 100vh;
}
.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.title{
    color: white;
    margin-bottom: 2rem;
}

#chat-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1em 4em !important;
    background-color: var(--primary);
    opacity: 0.7;
    border-radius: 1rem;
    border: 1px solid var(--color3);
    box-shadow: 0 0 10px 0 rgb(192, 192, 192) !important;
    color: var(--color1);
    width: 70vw;
    max-height: 400px;
    min-height: 70vh;
    overflow-y: scroll;

}
::-webkit-scrollbar{
    display: none;
}

.userMessage{
    display: inline-block;
    max-width: 90%;
    margin-left: auto;
    color: var(--primary);
    text-align: right;
    background-color: var(--color2);
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
}
.botMessage{
    color: var(--color1);
    text-align: left;
    margin-right: 4rem;
    background-color: var(--color3);
    padding: 1.2rem;
    border-radius: 1rem;
}
input{
    border-radius: 2rem;
    background-color: var(--primary) !important;
    padding: 1rem 1.2rem !important;
    border: none !important;
}
input:focus{
    box-shadow: none !important;
    border: none;
}
input::placeholder{
    color: grey !important;
}
#send-btn{
    background-color: var(--primary);
    color: var(--color1) !important;
    font-weight: bolder !important;
    outline: none !important;
    border: none;
    padding: 0 1rem;
}
#send-btn:hover{
    color: var(--color2);
}
i{
    color: black !important;
    font-size: 1.2rem;
}
i:hover{
    color: var(--color2) !important;
}

.options{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.option{
    background-color: var(--color4) !important;
    padding: 0.3rem 1rem;
    border: none;
    color: var(--primary) !important;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 100 !important;
}
.option:hover{
    color: var(--primary) !important;
    background-color: var(--hoverColor) !important;
}

/* Pantallas moviles */
@media (max-width: 576px){  
    .main__container{
        width: 90vw;
    }
    #chat-box{
        height: 1000px;
        padding: 2rem 1.5rem !important;
        width: 90vw;
    }
}
@media (min-width: 992px){
    #chat-box{
        width: 50vw;
    }
}